body{
    background-color: #283618;
}

h1{
    background-color: #bc6c25;
    color: #fefae0;
    padding: 15px;
    border: 4px solid #dda15e;
    margin: 20px;
}



p{
    background-color: #606c37;
    color: #fefae0;
    padding: 15px;
    border: 4px solid #dda15e;
    margin-top: 35px;
    margin: auto 50px;
    text-align: center;
}

a{
    display: inline-block;
}

a:link, a:visited{
    background-color: #dda15e;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    /* border: 2px solid #bc6c25; */
}

a:hover{
    background-color: #f8a238;
    text-decoration: none;
}

a:active{
    background-color: #d17403;
    text-decoration: underline;
}
a.link-logo{
    background-color: #283618;
    border: none;
    padding: none;
    margin: none;
}

a.social-media{

    margin: 2px;
}

img.link-logo{
    height: 50px;
}

hr{
    margin: 15px;
}